.loading {
  z-index: 7;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #ffffffab;
  width: 100%;
  height: 100%;
}

.loading img {
  margin-left: calc(50% - 40px);
}

.body-reproductor{
  position: relative;
  width: 100%;
  margin-bottom: 5%;
}

.container-reproductor {
  position: relative;
  z-index: 1;
}

.fondo-radio {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  filter: blur(50px);
  width: 100%;
  height: calc(100% + 100px);
}

#animacion {
  margin-left: 25%;
  margin-bottom: 1%;
  margin-top: 10%;
  width: 50%;
  border-radius: 10px;
}

#titleMusic {
  color: rgb(136, 255, 0);
}

.Container-buttons {
  text-align: center;
  background: #2632381f;
}

#cont-pause, #cont-play, #cont-stop, #mute-vol {
  color: rgb(0, 195, 255);
}

.span-controls {
  font-size: 35px; 
}

#status-conexion-text {
  color: #ffffff;
  margin-left: 80px;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}

.span-status{
  font-size: 75px;
  position: absolute;
  left: 0px;
  top: -13px;
  height: 10px;
  color: #fff;
}

.span-status-example {
  position: relative;
}

.notVisible {
  color: rgba(255, 255, 255, 0);
  position: fixed;
}

.numberListeners {
  position: fixed;
  z-index: 6;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  background: #1976d2;
  left: 10px;
  bottom: 10px;
  border: 2px solid #ffffff;
}

#btnExampleListeners {
  position: relative;
}

#spanListenerIco {
  font-size: 30px;
  color: #fff;
}

#spanListenerNumber, #nel {
  position: absolute;
  top: -5px;
  right: -10px;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 500px) {
  .span-data {
    display: none;
  }
}
