body {
    margin: 0px;
    padding: 0px;
}

header{
    position: relative;
    height: 100px;
    font-family: "arial";
    background-image: url("../images/Banner-radio.png");
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    border-bottom:2px solid rgb(255, 255, 255); 
    width:100%;
}

/* .logo_innova{
    width: 25%;
}
.logo_innova>img{
    width: 100%;
} */

.logo_innova{
    position: absolute;
    top: 0px;
    left: 0px;
}

.logo_innova img {
    height: 98px;
}

.navegador{
    position: absolute;
    right: 0px;
    bottom: 1px;
    width: max-content;
    height: 50px;
    background: #146d616c;
    z-index: 6;
    padding: 0px;
}

.li-nav{
    margin: 0px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    width: 150px;
    text-align: center;
    font-size: 20px;
    height: 50px;
}

.a-nav{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    color: #ffffff;
}

.active-nav {
    background: #ffffffd5;
    color: #146d61;
}

.a-nav:hover{
    background: #ffffffd5;
    color: #146d61;
}


@media screen and (max-width: 450px) {
    .li-nav{
        width: 110px;
        font-size: 18px;
        height: 40px;
    }

    .navegador{
        height: 40px;
    }

    header{
        height: 80px;
    }

    .logo_innova img{
        height: 70px;
    }
}
